html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: radial-gradient(#ffffff, #3f7b9d);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
